
.custom-icon {

}

.custom-icon-container {
    display: flex;
    align-items: center;
    background: rgba(60, 98, 142, 0.8);
    width: 180px;
    border-radius: 25px 25px 25px 25px;

  }
  
  .custom-icon-content {
    display: flex;
    flex-direction: column;
  }
  
  .custom-icon img {
    margin: 0 5px; /* Dostosuj odstęp między ikoną a tekstem */
  }
  
  .custom-icon-text h2, .custom-icon-text p {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 12px; /* Dostosuj rozmiar czcionki tekstu */
  }

  .custom-icon-text p {
    font-weight: bold;
    font-size: 16px;
  }
  
  .custom-icon-container-small {
    background: rgba(60, 98, 142, 0.8);
    width: 55px;
    border-radius: 25px 25px 25px 25px;
  }

  .startAndEndPoints {
    color: rgb(35, 106, 141);
  }

  .mainRoadLine {
    width: 5px;
    color: rgba(60, 140, 202,1);
  }

  .alternativeRoutes {
    width: 5px;
    color: rgb(235, 1, 1); /* wyraźniejszy szary */
  }

  .timeTravelInfo {
    background: rgba(35, 81, 116, 0.6);
    color: rgba(255,255,255,1);
    font-weight: bold;
    padding: 6px;
    border-radius: 5px 5px 5px 5px;
    
    position: absolute;
    left: 100px;
    top: 35px;
    p {
      width: 100%;
      text-align: center;
      &:first-child {
        text-transform: uppercase;
        font-size: 14px;
      }
    }

    &::before {
      position: absolute;
      left: 0px;
      top: 0px;
      content: '';
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-left: 20px solid transparent;
      border-bottom: 20px solid rgba(53, 125, 181, 0.8);
      transform: rotate(180deg);
    }
  }